.fixed {
    position: fixed;
    right: 250px;
    top: 260px;
}

body {
    background-color: rgb(42, 1, 50);
    color: aliceblue;
}

nav {
    text-align: right;
    font-size: 20px;
}

header {
    background-color: black;
}

footer {
    background-color: black;
}

footer .fa-heart {
    color: red;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    font-size: 45px;
}

.Contact {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Contact a {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
}